{% extends "blank.html.twig" %}

{% block title %} {{ parent() }} Changer de Mot de Passe {% endblock %}

{% block css %} {{ parent() }} <link rel='stylesheet' href='css/user/auth.css'> {% endblock %}
       
{% block content %} 
<a href="index.php" class="home-link">Accueil</a>
<div class="page-container">
    <div class="login-form">
        <div class="textelogin"> 
            Changer de Mot de Passe
        </div>
        
        <form method="post" action="">
            <input type="hidden" name="id" value="{{ user.id }}">
            
            <label class="form-label">Mot de Passe Actuel</label>
            <input class="form-input" type="password" placeholder="Entrez votre mot de passe actuel" name="current_password" required/>
            
            <label class="form-label">Nouveau Mot de Passe</label>
            <input class="form-input" type="password" placeholder="Entrez votre nouveau mot de passe" name="new_password" required/>
            
            <label class="form-label">Confirmer le Nouveau Mot de Passe</label>
            <input class="form-input" type="password" placeholder="Confirmez votre nouveau mot de passe" name="confirm_password" required/>
            
            <input class="submit-button" type="submit" value="Modifier">
        </form>
        
        <div class="form-links">
            <a href="index.php?page=profile" class="form-link">Retour au Profil</a>
        </div>
    </div>
</div>
{% endblock %}