{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Liste des chambre {% endblock %}

{% block css %} {{ parent() }} <link rel='stylesheet' href='css/chambre.css'> {% endblock %}

{% block content %}
<section class="chambres">
    <a href="index.php?page=" class="chambre-link">
        <div class="chambre">
            <img src="images/chambres/saturne.png" alt="Chambre Saturne">
            <div class="details">
                <p>Détail de la chambre</p>
                <p>Capacité : 2</p>
                <p>Chambre Saturne #70</p>
                <p>WiFi Gratuit</p>
            </div>
        </div>
    </a>
    <a href="index.php?page=" class="chambre-link">
        <div class="chambre">
            <img src="images/chambres/mars.png" alt="Chambre Mars">
            <div class="details">
                <p>Détail de la chambre</p>
                <p>Capacité : Double</p>
                <p>Chambre Mars #66</p>
                <p>WiFi Gratuit</p>
            </div>
        </div>
    </a>
    <a href="index.php?page=" class="chambre-link">
        <div class="chambre">
            <img src="images/chambres/terre.png" alt="Chambre Terre">
            <div class="details">
                <p>Détail de la chambre</p>
                <p>Capacité : 2</p>
                <p>Chambre Terre #60</p>
                <p>WiFi Gratuit</p>
            </div>
        </div>
    </a>
    <a href="index.php?page=" class="chambre-link">
        <div class="chambre">
            <img src="images/chambres/lune.png" alt="Chambre Lune">
            <div class="details">
                <p>Détail de la chambre</p>
                <p>Capacité : Double</p>
                <p>Chambre Lune #50</p>
                <p>WiFi Gratuit</p>
            </div>
        </div>
    </a>
</section>
{% endblock %}
