{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Liste des chambre {% endblock %}

{% block css %} {{ parent() }} <link rel='stylesheet' href='css/chambre.css'> {% endblock %}

{% block content %}
<section class="chambres">
    <div class="chambre">
        <img src="https://media.discordapp.net/attachments/1329366775846142021/1335884713692233738/image.png?ex=67a1cb17&is=67a07997&hm=631a4a2c764d742c45bca1b94d47ef234515e4d767e7682d29f4cfaaa379af43&=&format=webp&quality=lossless&width=881&height=552" alt="Chambre Saturne">
        <div class="details">
            <p>Détail de la chambre</p>
            <p>Capacité : 2</p>
            <p>Chambre Saturne #70</p>
            <p>WiFi Gratuit</p>
        </div>
    </div>
    <div class="chambre">
        <img src="https://media.discordapp.net/attachments/1329366775846142021/1335885150080209009/image.png?ex=67a1cb7f&is=67a079ff&hm=dc64de951e0b413cc31b98131c498420901ebcc00dc61d9ccfd13947da416d2c&=&format=webp&quality=lossless&width=881&height=452" alt="Chambre Mars">
        <div class="details">
            <p>Détail de la chambre</p>
            <p>Capacité : Double</p>
            <p>Chambre Mars #66</p>
            <p>WiFi Gratuit</p>
        </div>
    </div>
    <div class="chambre">
        <img src="https://media.discordapp.net/attachments/1329366775846142021/1335885034141253686/image.png?ex=67a1cb63&is=67a079e3&hm=214f4b1bc1a4bf7471790a9b250201ce0d39c589b8712e0dab5286850c738ccd&=&format=webp&quality=lossless&width=881&height=413" alt="Chambre Terre">
        <div class="details">
            <p>Détail de la chambre</p>
            <p>Capacité : 2</p>
            <p>Chambre Terre #60</p>
            <p>WiFi Gratuit</p>
        </div>
    </div>
    <div class="chambre">
        <img src="https://media.discordapp.net/attachments/1329366775846142021/1335885099509747712/image.png?ex=67a1cb73&is=67a079f3&hm=65e0388420437e2173c2a219308802d8c1c69f56226a65fb5fc3d504b7dd7f30&=&format=webp&quality=lossless&width=881&height=447" alt="Chambre Lune">
        <div class="details">
            <p>Détail de la chambre</p>
            <p>Capacité : Double</p>
            <p>Chambre Lune #50</p>
            <p> WiFi Gratuit </p>
        </div>
    </div>
</section>
{% endblock %}
