{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Accueil {% endblock %}
       
{% block content %} 
    <div class="container-fluid">
		<div class="row justify-content-center">
			<div class="image_accueil">
				<img src="https://files.oaiusercontent.com/file-LsZgGAEiEXcZSxmx6XzvdL?se=2025-02-03T11%3A03%3A54Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D9e15c389-f6a4-4a5f-b286-0fcf82c0a8af.webp&sig=F5VSfLoNtS/yCdHWYeQdvWPX80LIO2hmZQQN0sIvV/U%3D">
			</div>
			<div class="col-12 col-md-10">
				 <h2 class="text-center text-light">L'hôtel Neptune</h2> <br>
			</div>
			<p> L'Hôtel Neptune vous invite à découvrir un havre de sérénité alliant confort, élégance et service personnalisé. Que vous soyez en voyage d'affaires ou en quête de détente, notre établissement vous propose des chambres spacieuses et chaleureusement décorées, dotées de toute les commodités modernes. </p>
			<p> Profitez de notre atmosphère conviviale et laissez-vous séduire par notre emplacement privilégié à proximité des principales attractions de la région. Chaque séjour à l'Hôtel Neptune est une expérience unique ou bien-être et hospitalité se rencontrent. </p> <br>
		</div>
	</div>
{% endblock %} 