{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Page de connexion {% endblock %}
       
{% block content %} 

<div class="title"> <h2> Page de connexion : </h2> </div> <br>

    <form method="post" action=""> <br>
        Nom : <input type="lastName" placeholder="Saisir votre nom" name="lastName" required/> <br> <br>
        Prénom : <input type="firstName" placeholder="Saisir votre prénom" name="firstName" required/> <br> <br>
        Email : <input type="email" placeholder="Saisir votre adresse email" name="email" required/> <br> <br>
        Mot de passe : <input type="password" placeholder="Saisir votre mot de passe" name="password" required/> <br> <br>
        <input type="submit" value="Se connecter" name="btConnect"/>
    </form> <br>
Si vous n'avez pas de compte, vous pouvez en créer un gratuitement : <a href="index.php?page=register">Page d'inscription</a>

</div>

{% endblock %} 