{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Page de connexion {% endblock %}

{% block css %} {{ parent() }} <link rel='stylesheet' href='css/paiement.css'> {% endblock %}
       
{% block content %} 

<div class="titrepaiement"> Information personnelles : </div>
    <div class="textepaiement"> Nom : <input type="text" placeholder="Saisir votre nom" name="text" required/><br> </div>
    <div class="textepaiement"> Email : <input type="email" placeholder="Saisir votre Email" name="email" required/><br> </div>
    <div class="textepaiement"> Numéro de téléphone : <input type="text" placeholder="Saisir votre numéro de téléphone" name="text" required/><br> </div>
<br> <br> 

<div class="titrepaiement"> Adresse de facturation : </div>
    <div class="textepaiement"> Adresse : <input type="text" placeholder="Saisir votre adresse" name="text" required/><br> </div>
    <div class="textepaiement"> Code postal : <input type="text" placeholder="Saisir votre code postal" name="text" required/><br> </div>
    <div class="textepaiement"> Ville : <input type="text" placeholder="Saisir votre ville" name="text" required/><br> </div>
    <div class="textepaiement"> Pays : <input type="text" placeholder="Saisir votre pays" name="text" required/><br> </div>    


<br> <br> 

<div class="titrepaiement"> Numéro de commande : </div>
    <input type="text"> 

<br> <br>

<div class="titrepaiement"> Methode de paiement : </div>
    <div class="textepaiement"> Nom de la carte : <input type="text" placeholder="Saisir votre nom de la carte" name="text" required/><br> </div>
    <div class="textepaiement"> Num de la carte : <input type="text" placeholder="Saisir votre num carte" name="text" required/><br> </div>
    <div class="textepaiement"> Date expiration : <input type="text" placeholder="Saisir votre date expiration" name="text" required/><br> </div>
    <div class="textepaiement"> CVC : <input type="text" placeholder=" Saisir CVC" name="text" required/><br> </div>     
    
     
     

<br> <br> <br> <br>


{% endblock %} 