{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Inscription {% endblock %}

{% block css %} {{ parent() }} <link rel='stylesheet' href='css/login.css'> {% endblock %}
       
{% block content %} 
<a href="index.php" class="home-link">Accueil</a>
<div class="page-container">
    <div class="login-form">
        <div class="textelogin"> 
            Inscription
        </div>
        
        <form method="post" action="">
            <label class="form-label">Nom</label>
            <input class="form-input" type="text" placeholder="Saisir votre nom" name="lastname" required/>

            <label class="form-label">Prénom</label>
            <input class="form-input" type="text" placeholder="Saisir votre prénom" name="firstname" required/>

            <label class="form-label">Numéro de téléphone</label>
            <input class="form-input" type="text" placeholder="Saisir votre numéro de téléphone" name="phone" required/>

            <label class="form-label">Email</label>
            <input class="form-input" type="email" placeholder="Saisir votre email" name="email" required/>
            
            <label class="form-label">Mot de passe</label>
            <input class="form-input" type="password" placeholder="Saisir votre mot de passe" name="password" required/>
            
            <input class="submit-button" type="submit" value="S'inscrire">
        </form>
        
        <div class="form-links">
            <a href="index.php?page=login" class="form-link">Se connecter</a>
        </div>
    </div>
</div>
{% endblock %}