{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Page d'inscription {% endblock %}
       
{% block content %} 

<div class="title"> <h2> Page d'inscription : </h2> </div> <br>

    <form method="post" action=""> <br>
        Nom : <input type="lastName" placeholder="Saisir votre nom" name="lastName" required/> <br> <br>
        Prénom : <input type="firstName" placeholder="Saisir votre prénom" name="firstName" required/> <br> <br>
        Email : <input type="email" placeholder="Saisir votre adresse email" name="email" required/> <br> <br>
        Mot de passe : <input type="password" placeholder="Saisir votre mot de passe" name="password" required/> <br> <br>
        Numéro de téléphone : <input type="numtelephoneclient" placeholder="Saisir votre numéro de téléphone" name="numtelephoneclient" required/> <br> <br>
        <input type="submit" value="Se connecter" name="btConnect"/>
    </form> <br>
Si vous avez déja un compte, vous pouvez vous connecter : <a href="">Page de connexion</a>

</div>

{% endblock %} 