/* POlices */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: .5vw 4vw;
}

/* Style du logo */
.logo img {
    width: 6vw;
    height: 5.5vw;
    transition: transform 0.3s ease-in-out;
}

.logo img:hover {
    transform: rotate(15deg) scale(1.1);
}

/* Navlinks */
.nav-links {
    display: flex;
    align-items: center;
    gap: 2vw;
}

/* Style de l'icone account */
.icon img {
    width: 3vw;
    height: 2vw;
    transition: transform 0.2s ease-in-out;
}

.icon img:hover {
    transform: scale(1.1);
} 

/* Lien de réservation */
.link-reserver {
    font-family: 'Inter', serif;
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 1vw;
    transition: color 0.3s;
}

.link-reserver::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.3vw;
    width: 100%;
    height: 0.1vw;
    background-color: black;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
}

.link-reserver:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 2vw;
    }
    
    .nav-links {
        flex-direction: column;
        gap: 1.5vw;
        text-align: center;
    }
    
    .nav-links li {
        display: block;
    }
    
    .logo img {
        width: 10vw;
        height: 9vw;
    }
}

/* Footer */
footer {
    display: flex;
    padding: 3%;
    background-color: #E8E8E8;
}

/* Separateur */
hr.solid {
    border-left: 1vw solid rgba(0,0,0,0,45%);
    height: 15vw;
    width: 0;
}

/* Arguments (partie de gauche) */
.args {
    margin: 0 auto;
    align-self: center;
}

.args, .footer-links a {
    font-family: 'Space Mono', serif;
    text-decoration: none;
    color: black;
}

.footer-links a {
    font-size: 12px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15%;
}

.contact-info h3 {
    margin-bottom: 5px;
}

.contact-info p {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-info img {
    width: 20px;
    height: 20px;
}

.contact-info div {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Formulaire de contact */
footer form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    max-width: 500px;
    margin-right: 10%;
}

.input-group {
    display: flex;
    gap: 15px;
    width: 100%;
}

.input-group input {
    flex: 1;
}

footer input, footer textarea {
    font-family: Arial, sans-serif;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    background: transparent;
    transition: border-color 0.3s ease-in-out;
}

footer input::placeholder, footer textarea::placeholder {
    font-family: 'Space Mono', monospace;
    color: #666;
}

footer input:focus, footer textarea:focus {
    border-bottom: 2px solid #5E75C9;
}

footer textarea {
    resize: none;
    height: 100px;
    width: 100%;
}

footer button {
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
    width: 100%; /* Largeur complète */
}

footer button:hover {
    background-color: #5E75C9;
}