.paiementfinitexte {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px; }

.iconvalid {
    text-align: center; }

.textechambre {
    font-size: 24px;
}

.textechambre2 {
    font-size: 12px;
}