{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Accueil {% endblock %}

{% block css %} {{ parent() }} <link rel='stylesheet' href='css/home.css'> {% endblock %}

{% block content %}
<div class='img_container'>
    <img class='img_accueil' src="images/accueil.png">
        <div class="text_overlay">
            <h1 style="margin-bottom: 20px;">Bienvenue<br>à l'Hôtel Neptune</h1>
            <a href='index.php?page=chambres'><button class="discover-button">Découvrez nos chambres</button></a>
        </div>
</div>
<div class='message_bvn'>
    <h1>L'hôtel Neptune</h1>
    <p> L'Hôtel Neptune vous invite à découvrir un havre de sérénité alliant confort, élégance et service personnalisé. Que vous soyez en voyage d'affaires ou en quête de détente, notre établissement vous propose des chambres spacieuses et chaleureusement décorées, dotées de toute les commodités modernes.<br><br>
    Profitez de notre atmosphère conviviale et laissez-vous séduire par notre emplacement privilégié à proximité des principales attractions de la région. Chaque séjour à l'Hôtel Neptune est une expérience unique ou bien-être et hospitalité se rencontrent. </p>
</div>
{% endblock %}