{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Page de paiement {% endblock %}

{% block css %} {{ parent() }} <link rel='stylesheet' href='css/paiement.css'> {% endblock %}
       
{% block content %} 

<br> 
<a href="index.php?page=home">Accueil</a> >> <a href="index.php?page=reservation">Réservation</a> >> <a href="index.php?page=paiement">Paiement</a> <br> <br>
<div class="row">
    <div class="col-75">
        <div class="container">
            <form>

        <div class="row">
            <div class="col-50"> <br>
                <h3>Information personnelles :</h3> <hr>
                <label for="nom"> Nom : </label>
                <input type="text" id="fname" name="firstname" placeholder="Saisir votre nom prénom ">
                <label for="email"> Email : </label>
                <input type="text" id="email" name="email" placeholder="Saisir votre adresse email">
                <label for="numtel"> Numéro de téléphone : </label>
                <input type="text" id="numtel" name="numtel" placeholder="Saisir votre numéro de téléphone">

            <div class="row">
                <div class="col-50"> <br>
                    <h3> Adresse de facturation :</h3> <hr>
                    <label for="adresse"> Adresse : </label>
                    <input type="text" id="adresse" name="adresse" placeholder="Saisir votre adresse">
                    <label for="codepostal"> Code postal : </label>
                    <input type="text" id="codepostal" name="codepostal" placeholder="Saisir votre code postal">
                    <label for="ville"> Ville : </label>
                    <input type="text" id="ville" name="ville" placeholder="Saisir votre ville"> 
                    <label for="pays"> Pays : </label>
                    <input type="text" id="pays" name="pays" placeholder="Saisir votre pays">

            <div class="row">
                <div class="col-50"> <br>
                    <h3> Méthode de paiement : <img src="images/moyen_paiement.png" alt="Icône Paiement" width="79" height="30" > <br> </h3> <hr>
                    <label> <input type="checkbox" checked="checked" name="sameadr">  Paiement instantanée </label>
                    <label for="nomcarte"> Nom de la carte : </label>
                    <input type="text" name="nomcarte" placeholder="Saisir le nom de la carte">
                    <label for="numcarte"> Num de la carte : </label>
                    <input type="text" name="numcarte" placeholder="Saisir le num de la carte">
                    <label for="dateexpiration"> Date expiration :</label>
                    <input type="text" name="dateexpiration" placeholder="Saisir la date d'expiration">
                    <label for="cvc"> CVC :</label> 
                    <input type="text" name="cvc" placeholder="Saisir le CVC"> </div> </div> </div>
        </div> </div> </form> </div> </div> </div>
  <div class="col-25">
    <div class="container"> <br>
      <h4> Chambres </h4>
      <p> Total : <span class="price"> 500 euros </span></p>
      <p> Rabais : <span class="price"> 0 euros </span></p>
      <p> Taxe de séjour : <span class="price"> 15 euros </span></p>
      <hr>
      <p> Total : <span class="price" style="color:black"><b> 515 euros </b></span></p>
      <a href="index.php?page=paiementfini"> <input type="submit" value="Passer au paiement" class="btn"> </a>

    </div>
</div>
</div>
<br> <br>
{% endblock %} 