{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Accès Refusé {% endblock %}

{% block css %} <link rel='stylesheet' href='css/error.css'> {% endblock %}
       
{% block content %} 
    <h2>Accès Refusé</h2> 
{% endblock %} 