<!doctype html>
<html lang="fr">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block css %}
			<!-- Bootstrap Icons -->
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
			<link rel='stylesheet' href='css/main.css'>
		{% endblock %}
		<title>
			{% block title %}Hôtel Neptune - {% endblock %}
		</title>
	</head>
	<body class="bg-white">

		<nav
			class="navbar">
			<!-- Logo de l'hôtel -->
			<div class="logo">
				<a href='.'><img src="images/logo.png" alt="Logo Hôtel"></a>
			</div>

			<div
				class="nav-links">
				<!-- Lien de réservation -->
				<a class="link-reserver" href="index.php?page=chambres">Réserver</a>

				<!-- Icône utilisateur -->
				<div class="icon">
					<a href="index.php?page=login"><img src="images/account-icon.svg" alt="Icone Personne"></a>
				</div>
			</div>
		</nav>

		{% block content %}{% endblock %}
		{% block js %}
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		{% endblock %}
	</body>

	<footer>
		<div class="args">
			<div class="contact-info">
				<h3>HÔTEL NEPTUNE</h3>
				<div>
					<img src="images/location.svg" alt="Icône Location">
					<p>2 RUE DU DEPOT,<br>8200 FRANCE</p>
				</div>
				<div>
					<img src="images/phone.svg" alt="Icône Phone">
					<p>Tel: 06 00 00 00 00</p>
				</div>
			</div>
			<div class="footer-links">
				<a href="index.php?page=legals">Mentions légales</a>
				-
				<a href="index.php?page=cgu">CGU</a>
			</div>
		</div>

		<hr class="solid">

		<form action="contact.php" method="POST">
			<div class="input-group">
				<input type="text" name="nom" placeholder="Nom" required>
				<input type="text" name="prenom" placeholder="Prénom" required>
			</div>
			<div class="input-group">
				<input type="tel" name="tel" placeholder="Tel" required>
				<input type="email" name="email" placeholder="Email" required>
			</div>
			<textarea name="message" placeholder="Message" required></textarea>
			<button type="submit">Envoyer</button>
		</form>

	</footer>
</html>
